.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.containerImg {
    display: flex;
    width: 550px;
    position: relative;
}

.image {
    width: 100%;
    mask-image: linear-gradient(-90deg, black 80%, transparent);
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 95%, black); 
    z-index: 100;
}

.containerImg .mask:last-child {
    background: linear-gradient(black, transparent 4%); 
}

.containerText {
    width: 100%;
    line-height: 1;
}

.title {
    font-size: var(--text-title);
    font-weight: 500;
    text-align: center;
}

.subtitle {
    font-size: var(--text-subtitle);
    font-weight: 400;
    color: var(--white-500-color);
}

.text {
    font-size: var(--text-h3);
    font-weight: 400;
    color: var(--primary-300-color);
    text-align: center;
}

.highlighted {
    color: var(--primary-500-color);
}
