.sliderSkills {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 5rem;
}
.container_skills {
    width: 500px;
    height: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
    align-items: center;
    opacity: 0.9;
    padding: 1rem;
}
.btn_slider_skills {
    width: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: var(--first_color);
    color: white;
    display: grid;
    place-content: center;
    cursor: pointer;
    font-size: 20px;
}
.skill {
    min-width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #BEC2CC;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.icon_skill {
    font-size: 150px;
}
.lengues_text {
    font-size: 20px;
    text-align: center;
}
