.container_proyects {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    width: 80%;
    height: 700px;
    overflow-x: scroll;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}
.container_proyects::-webkit-scrollbar {
    height: 9px;
}
.container_proyects::-webkit-scrollbar-thumb {
    background: #BEC2CD;
    border-radius: 10px;
}
