.btn_header {
    padding: 0.6rem;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    transition: background-color, color 0.5s ;
}
.btn_header:hover {
    background-color: #364252;
    color: white;
}
