:root {
    --black: #404258;
    --green: #6D9886;
    --beige: #F2E7D5;
    --grey: #F7F7F7;
}


.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
    position: relative;
}
@media (max-width 1200px) {
    .section {
        background-position: right;
    }
}
