.container_social {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    top: 40%;
}
.img_social {
    width: 70px;
    background-color: white;
    border-radius: 50%;
    padding: 0.5rem;
}
.social {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
