@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --first_color: #506D84;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', monospace;
    color: #F7F7F7;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
